@import url (https://fonts.googleapis.comcss2?family:Lato:wght@300&family=Oswald&display=swap´);

* {
    margin: 0;
    padding: 0;
    border: none;
}

body {
    font-family: Lato, sans-serif;
    font-weight: 300;
}